body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.tumi {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.hhh {
    width: 50%;
    padding: 4%;
}

.hhh img {
    width: 600px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color: aliceblue;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 6px;
}

.hhh img {
    width: 70%;
    height: 100%;
}